In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
import os 

print(os.getcwd())

/mnt/mnemo5/tao/MLG/task_0

In [2]:
#read train data 
train_data=pd.read_csv("./train.csv" ,header=0,index_col=0,sep=",")
train_X=np.array(train_data.iloc[:,2:])
train_Y=np.array(train_data.iloc[:,1])
print(train_X.shape,train_Y.shape)

train_data.head(n=3)

(10000, 10) (10000,)

,Id,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,0,738.023171,1764.052346,400.157208,978.737984,2240.893199,1867.557990,-977.277880,950.088418,-151.357208,-103.218852,410.598502
1,1,400.646015,144.043571,1454.273507,761.037725,121.675016,443.863233,333.674327,1494.079073,-205.158264,313.067702,-854.095739
2,2,189.900156,-2552.989816,653.618595,864.436199,-742.165020,2269.754624,-1454.365675,45.758517,-187.183850,1532.779214,1469.358770

In [3]:
#read test data 
test_data=pd.read_csv("./test.csv" ,header=0,index_col=0,sep=",")
test_X=np.array(test_data.iloc[:,1:])
print(test_X.shape)
test_data.head(n=3)

(2000, 10)

,Id,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,10000,-483.797492,1288.057065,-129.878712,-198.078388,-334.487592,-391.443186,-612.406176,-676.523964,1327.229655,-448.695446
1,10001,-316.407305,30.830556,-313.356726,-173.259184,-327.368719,944.368248,1122.017380,112.338731,1372.340221,2062.561842
2,10002,-2448.558997,-561.988408,355.098820,634.378170,-392.450091,-813.156399,-232.873263,246.801210,-562.413197,-841.602015

In [4]:
#fit model 
LR_model = linear_model.LinearRegression()

parameters = {'fit_intercept':[True,False],
              'normalize': [True,False]
             }

clr = GridSearchCV(LR_model, parameters, cv=5,
                     n_jobs=1,
                  #scoring=sklearn.metrics.make_scorer(sklearn.metrics.f1_score)
                         )
clr.fit(train_X,train_Y)

GridSearchCV(cv=5, estimator=LinearRegression(), n_jobs=1,
             param_grid={'fit_intercept': [True, False],
                         'normalize': [True, False]})

In [5]:
# check performance on training data 
train_Y_pred=clr.predict(train_X)

train_RMSE = mean_squared_error(train_Y, train_Y_pred)**0.5


print(train_RMSE)

2.8456424384262765e-13